@{
    ViewData["Title"] = "Employee Profile";
}
@using Microsoft.AspNetCore.Http;


<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="~/img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/bootstrap-profiles.min.css" />
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
</head>

<body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <!-- Start your project here-->
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/User_Profile.cshtml">User</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Employee Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="~/img/alex_male.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">
                                <span id="idName">@Context.Session.GetString("Employeeusername")</span>
                                <span> - </span>
                                <span id="employeeId">@Context.Session.GetString("EmployeeuserID")</span>
                            </h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>

                        </div>

                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Personal Details</span> <a href="#">Edit</a></p>
                            <div class="row">

                                <div class="col-sm-5">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("empfullname")</p>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Legal Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("emplegalname")</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("empemail")</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) @Context.Session.GetString("empmobile")</p>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("empaddress")</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5>Name Pronunce Helper</h5>
                            <div class="row">
                                <div class="tab">
                                    <button class="tablinks active" onclick="openCity(event, 'idRec')">Pronunce Name</button>
                                    <button class="tablinks" onclick="openCity(event, 'idSign')">Sign Language</button>
                                    <button class="tablinks" onclick="openCity(event, 'idTrend')">Trend</button>
                                    <button class="tablinks" onclick="openCity(event, 'idSupport')">Support</button>
                                </div>

                                <div id="idRec" class="tabcontent" style="display: block;">
                                    <h3>Pronunce Name</h3>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="mb-0 switch">
                                                <input type="checkbox" onclick="toggleFields()" id="togBtn">
                                                <div class="slider round">
                                                    <!--ADDED HTML -->
                                                    <span class="on">Users' Preference</span>
                                                    <span class="off">Users' Preference</span>

                                                    <!--END-->
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-sm-5" id="divlanguage">
                                            <select class="custom-select text-muted mb-0" id="language">
                                                <option value="en_US" selected>
                                                    American English Pronunciation
                                                </option>
                                                <option value="en_GB">
                                                    British English pronunciation
                                                </option>
                                                <option value="en_IN">
                                                    Indian English pronunciation
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3" id="divvoice">
                                            <select class="custom-select text-muted mb-0" id="voice">
                                                <option value="VoiceGenderFemale" selected>
                                                    Female
                                                </option>
                                                <option value="VoiceGenderMale">
                                                    Male
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3" id="slowDiv">
                                            <label class="mb-0 switch">
                                                <input type="checkbox" id="btnSlow">
                                                <div class="slider round">
                                                    <!--ADDED HTML -->
                                                    <span class="on">Slow</span>
                                                    <span class="off">Slow</span>

                                                    <!--END-->
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <span></span>
                                            <button class="bttn" onclick="getNamePronouciation()">
                                                <img src="~/img/sound.png"
                                                     alt="user" width="30" height="30">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <span>Phonetics pronunciation in International Phonetic Alphabet :</span>
                                            <span class="green-background" id="speechToText">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </p>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <span>Practice and Check match</span>
                                            <button class="nwbttn mb-1" onclick="getPracticePronouciation()">
                                                <img src="~/img/mic.png"
                                                     alt="user" width="30" height="30">
                                            </button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="progress rounded" style="height: 5px;">
                                                <div id="practice" class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <span id="practiceStatus"></span>
                                        </div>
                                    </div>



                                </div>
                                <div id="idSign" class="tabcontent">
                                    <h3>Sign Language</h3>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <!--<button class="bttn submit" onclick="playPause()">Play/Pause</button>-->
                                            <div class="row">
                                                <span>
                                                    User's preferred pronunciation:
                                                    <button class="bttn" onclick="getSignPronouciation()">
                                                        <img src="~/img/sound.png" alt="user" width="30" height="30">
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-9 border bg-light rounded-3 p-0 ml-3">
                                                    <span class="" id="usrspeechToText"></span>
                                                </div>
                                                <div class="col-sm-2 border bg-light rounded-3 p-0 ml-1">
                                                    <span class="ml-3" id="KeysinAudio"></span>
                                                </div>

                                            </div>

                                            <!--<input type="text" name="sen" class=" myborder" id="KeysinAudio" placeholder="">-->

                                        </div>
                                        <div class="col-sm-5">
                                            <video id="videoPlayer" width="350" height="200" preload="auto" autoplay>
                                                <source src="~/videos/Hello.mp4" type="video/mp4">
                                                Your browser does not support HTML5 video.
                                            </video>
                                        </div>
                                    </div>
                                </div>

                                <div id="idTrend" class="tabcontent">
                                    <h3>Trending on HowToPronounce : <span id="idTrendspan"></span></h3>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/highcharts-more.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>

                                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


                                </div>
                                <div id="idSupport" class="tabcontent">
                                    <h3>Support</h3>
                                    <p>For any support please reach out to garima.raha@gmail.com</p>
                                </div>

                                <script>function openCity(evt, idName) {
                                        var i, tabcontent, tablinks;
                                        tabcontent = document.getElementsByClassName("tabcontent");
                                        for (i = 0; i < tabcontent.length; i++) {
                                            tabcontent[i].style.display = "none";
                                        }

                                        tablinks = document.getElementsByClassName("tablinks");
                                        for (i = 0; i < tablinks.length; i++) {
                                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                                        }
                                        document.getElementById(idName).style.display = "block";
                                        evt.currentTarget.className += " active";
                                    }</script>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"><span class="text-primary font-italic me-1">Technicsl SKills</span></p>
                                    <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                    <div class="progress rounded mb-2" style="height: 5px;">
                                        <div class="progress-bar-striped" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"><span class="text-primary font-italic me-1">Organizational Outline</span></p>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 style="color:red">Reporting Manager</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="user-info">
                                                        <div class="user-info__img">
                                                            <img src="~/img/alex.png"
                                                                 alt="user" width="70" height="40">
                                                        </div>
                                                        <div class="user-info__basic">
                                                            <h5 class="mb-0">Suresh</h5>
                                                            <p class="text-muted mb-0">U55679</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="active-circle bg-success"></span> Active
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <h5 style="color:red">Team Outlines</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="user-info">
                                                        <div class="user-info__img">
                                                            <img src="~/img/alex.png"
                                                                 alt="user" width="70" height="40">
                                                        </div>
                                                        <div class="user-info__basic">
                                                            <h5 class="mb-0">Ranjana</h5>
                                                            <p class="text-muted mb-0">U55679</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="active-circle bg-success"></span> Active
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="user-info">
                                                        <div class="user-info__img">
                                                            <img src="~/img/alex_male.png"
                                                                 alt="user" width="70" height="40">
                                                        </div>
                                                        <div class="user-info__basic">
                                                            <h5 class="mb-0">Edwin</h5>
                                                            <p class="text-muted mb-0">U45675</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="active-circle bg-danger"></span>Inactive
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <script>/*$(function () {
                    $("#practice").addClass("progress-bar-purple");
                });*/
        async function getPracticePronouciation() {


            const username = document.getElementById("idName").innerHTML;
            const employeeId = document.getElementById("employeeId").textContent;

            let endpoint = "";

            endpoint = new URL("http://127.0.0.1:5000/practice?employeeId=" + employeeId);
            getData(endpoint)
                .then(data => {
                    console.log(data);
                    document.getElementById("practice").style.fontSize = "xxx-large";
                    if (parseFloat(data) > 65.0) {
                        document.getElementById("practice").style.display = "inline-block"

                        document.getElementById("practice").style.width = parseFloat(data) + "%"
                        document.getElementById("practice").style.ariaValueNow = parseFloat(data)
                        document.getElementById("practice").style.backgroundColor = "green"
                    }
                    else if (parseFloat(data) > 60.0) {
                        document.getElementById("practice").style.display = "inline-block"

                        document.getElementById("practice").style.width = parseFloat(data) + "%"
                        document.getElementById("practice").style.ariaValueNow = parseFloat(data)
                        document.getElementById("practice").style.backgroundColor = "yellow"
                    }
                    else {
                        document.getElementById("practice").style.display = "inline-block"

                        document.getElementById("practice").style.width = parseFloat(data) + "%"
                        document.getElementById("practice").style.ariaValueNow = parseFloat(data)
                        document.getElementById("practice").style.backgroundColor = "orange"
                    }

                    document.getElementById("practiceStatus").innerHTML = data + "%"; //KeysinAudio


                });


        }


        async function getNamePronouciation() {


            const username = document.getElementById("idName").innerHTML;
            const employeeId = document.getElementById("employeeId").textContent;
            const pronouceChoice = document.getElementById("togBtn").checked;
            let selectlang = document.getElementById('language');
            let slctdLang = selectlang.options[selectlang.selectedIndex].value;
            let slctVc = document.getElementById('voice');
            let selectdVoice = slctVc.options[slctVc.selectedIndex].value;
            const soundChoice = document.getElementById("btnSlow").checked;
            let endpoint = "";
            if (!pronouceChoice) {

                endpoint = new URL("http://127.0.0.1:5000/standard?username=" + username + "&employeeId=" + employeeId
                    + "&language=" + slctdLang
                    + "&voice=" + selectdVoice + "&slow=" + soundChoice);
            }
            else {
                endpoint = new URL("http://127.0.0.1:5000/users?employeeId=" + employeeId);
            }
            getData(endpoint)
                .then(data => {
                    console.log(data);
                    let myArray = new Array();
                    if (!pronouceChoice) {
                        myArray = username.split("");
                        document.getElementById("speechToText").innerHTML = data;
                    }
                    else {
                        myArray = data.split("");
                        document.getElementById('speechToText').innerHTML = data; //KeysinAudio
                    }

                });


        }
        async function getSignPronouciation() {


            const username = document.getElementById("idName").innerHTML;
            const employeeId = document.getElementById("employeeId").textContent;
            let endpoint = new URL("http://127.0.0.1:5000/usersSignLang?employeeId=" + employeeId);

            getData(endpoint)
                .then(data => {
                    console.log(data);
                    let myArray = new Array();
                    myArray = data.split("");
                    document.getElementById("usrspeechToText").style.fontSize = "large";
                    document.getElementById('usrspeechToText').innerHTML = data.toUpperCase(); //KeysinAudio

                    arr = myArray.filter(function (entry) { return entry.trim() != ''; });
                    play(arr);
                    function play(arr) {
                        var videoSource = new Array();
                        var videos = arr;
                        var j;
                        for (j = 0; j < videos.length; j++) {
                            videoSource[j] = "/videos/" + videos[j].toUpperCase() + ".mp4";
                        }

                        var i = 0; // define i
                        var videoCount = videoSource.length;

                        function videoPlay(videoNum) {
                            document.getElementById('KeysinAudio').innerHTML = videos[videoNum].toUpperCase(); //KeysinAudio
                            document.getElementById("KeysinAudio").style.color = "#09edc7";
                            document.getElementById("KeysinAudio").style.fontSize = "xx-large";

                            document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
                            document.getElementById("videoPlayer").load();
                            document.getElementById("videoPlayer").play();

                        }
                        document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
                        document.getElementById('KeysinAudio').innerHTML = videos[0].toUpperCase(); //KeysinAudio
                        document.getElementById("KeysinAudio").style.color = "#09edc7";
                        document.getElementById("KeysinAudio").style.fontSize = "xx-large";
                        //document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "xx-large";

                        videoPlay(0); // play the video

                        function myHandler() {
                            i++;
                            if (i == videoCount) {

                                document.getElementById("videoPlayer").pause();
                            }
                            else {

                                videoPlay(i);
                            }
                        }
                    }

                });


        }
        async function getData(url = '') {
            var data = ''
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'text/plain'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow'
            }).then(response => {
                return response.text()
            }).then(text => {
                console.log(text)
                data = text
            });
            return data;
        }

        function toggleFields() {
            var checkbox = document.getElementById('togBtn');
            if (checkbox.checked === true) {
                document.getElementById('divlanguage').style.display = 'none';
                document.getElementById('divvoice').style.display = 'none';
                document.getElementById('slowDiv').style.display = 'none';
            }
            else {
                document.getElementById('divlanguage').style.display = 'inline-block';
                document.getElementById('divvoice').style.display = 'inline-block';
                document.getElementById('slowDiv').style.display = 'inline-block';

            }
        }</script>

</body>
</html>