@{
    ViewData["Title"] = "User Profile page";

}
@using Microsoft.AspNetCore.Http;

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="~/img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/bootstrap-profiles.min.css" />
    <link rel="stylesheet" href="~/js/userprofile.js" />
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
</head>

<body>
    <!-- Start your project here-->
    <section style="background-color: #eee;">
        <div class="container-fluid p-2">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/Employee_Profile.cshtml">Employee Profile</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="~/img/alex_male.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">
                                <span id="idName"> @Context.Session.GetString("username")</span>
                                <span> - </span>
                                <span id="employeeId">@Context.Session.GetString("userID")</span>
                            </h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>

                        </div>

                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Personal Details</span> <a href="#">Edit</a></p>
                            <div class="row">

                                <div class="col-sm-5">
                                    <p class="mb-0">Legal Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("legalname")</p>

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("email")</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) @Context.Session.GetString("mobile")</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Context.Session.GetString("address")</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5>Name Pronunce Helper</h5>
                            <div class="row">
                                <div class="tab">
                                    <button class="tablinks active" onclick="openCity(event, 'idRec')">Voice Recording</button>
                                    <button class="tablinks" onclick="openCity(event, 'idSign')">Record with Sign Language</button>
                                    <button class="tablinks" onclick="openCity(event, 'idTrend')">Trend</button>
                                    <button class="tablinks" onclick="openCity(event, 'idSupport')">Support</button>
                                    <button class="tablinks" onclick="openCity(event, 'idHelp')">Help</button>
                                </div>

                                <div id="idRec" class="tabcontent" style="display: block;">
                                    <div class="row p-3">
                                        <div class="col-sm-11">
                                            <div class="pad size r newfontstyle h4 text-dark">
                                                Enter Your Preferred Name    <hr>
                                                <form class="form-inline my-2 my-lg-0" method="GET" asp-controller="Home" asp-action="SaveUserPreferredName">

                                                    <input class="form-control mr-sm-2 required" name="prfName" type="search" placeholder="Enter here.." aria-label="Search">
                                                    <label for="select">
                                                        <select name="country" required class="form-control custom-select text-muted mb-0 required" id="country" style="margin-left: 9px;">
                                                            <option value="" label="Select a country ... " selected="selected">Choose Language ... </option>
                                                            <option value="en_US">
                                                                American English Pronunciation
                                                            </option>
                                                            <option value="en_GB">
                                                                British English pronunciation
                                                            </option>
                                                            <option value="en_IN">
                                                                Indian English pronunciation
                                                            </option>
                                                        </select>
                                                    </label>
                                                    <button class="curve-grad loc toggle-disabled" disabled name="btnPrf" type="submit">
                                                        Save
                                                    </button>
                                                </form>
                                                @if (@Context.Session.GetString("usrprfname") != null)
                                                {
                                                    <button class="curve-grad loc" style="margin-left:150px;" name="btnPrf" onclick="location.href='@Url.Action("ClearPreferredName", "Home")'">
                                                        Clear Preferred Name
                                                    </button>
                                                    <div class="p-3">
                                                        <label>Preferred Name:<span id="idprflbl" style="color: #e21919">@Context.Session.GetString("usrprfname")</span></label>
                                                        <label>Preferred Pronunciation:<span id="idprflbl" style="color: #e21919">@Context.Session.GetString("usrcountry")</span></label>
                                                    </div>
                                                }

                                                else
                                                {
                                                    <div class="p-3">
                                                        <label>Preferred Name:<span id="idprflbl" style="color: #e21919">Yet to set preferred name</span></label>
                                                        <label>Preferred Pronunciation:<span id="idprflbl" style="color: #e21919">Yet to set preferred language</span></label>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div><hr>
                                    <div class="row p-3">
                                        <div class="col-sm-6">
                                            <div class="pad r newfontstyle h4 text-dark">
                                                Voice Record Your Name      <hr>
                                                <div class="h6" id="divrec" style="text-align:left;">
                                                    <label>Click the button to start recording...</label>
                                                    <button class="nwbttn" id="btnRecNM" onclick="location.href='@Url.Action("RecordYourName", "Home")'">
                                                        <img src="/img/record.png" alt="user" width="110" height="80">
                                                    </button>
                                                    <button class="curve-grad py-3" id="btnDelte" onclick="location.href='/Home/DeleteRecordedYourName'" style="margin-left:65px;">
                                                        Delete Recording
                                                    </button>
                                                    <div class="boxContainer" id="idwaverec" style="display:none;">
                                                        <div class="box box1"></div>
                                                        <div class="box box2"></div>
                                                        <div class="box box3"></div>
                                                        <div class="box box4"></div>
                                                        <div class="box box5"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="pad r newfontstyle h4 text-dark">
                                                Play Back Recording  <hr>
                                                <div class="h6" id="divplayback" style="text-align:left;">
                                                    <label>Click the button to play recording...</label>
                                                    <button class="nwbttn" onclick="getNamePronouciation()">
                                                        <img src="~/img/play.png"
                                                             alt="user" width="80" height="70">
                                                    </button>
                                                    <div class="boxContainer" id="idwaveplay" style="display:none;">
                                                        <div class="box box1"></div>
                                                        <div class="box box2"></div>
                                                        <div class="box box3"></div>
                                                        <div class="box box4"></div>
                                                        <div class="box box5"></div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p-3">
                                            <div class="phonetcdiv" id="idphntc" style="display: none;">
                                                <h1 class="hh1 h3"> Phonetics pronunciation in International Phonetic Alphabet ..... </h1>
                                                <span class="green-background" id="speechToText"></span>
                                            </div>

                                        </div>



                                    </div>
                                </div>

                                <div id="idSign" class="tabcontent">
                                    <div class="col-sm-11">
                                        <div class="pad sizepronounce r newfontstyle h4 text-dark">
                                            Enter Your Preferred Name    <hr>
                                            <a class="h6" href="@Url.Action("Profile", "Home")" target="_blank">For Video Recording Click Here</a><hr>
                                            <div class="keyboard">
                                                Sign Language Keyboard
                                                <div class="section-a">

                                                    <div class="key letter" id="idA" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="A">
                                                        <img src="~/img/A.png"
                                                             width="40" height="40">
                                                    </div>

                                                    <div class="key letter" id="idB" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="B">
                                                        <img src="~/img/B.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idC" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="C">
                                                        <img src="~/img/C.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idD" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="D">
                                                        <img src="~/img/D.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idE" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="E">
                                                        <img src="~/img/E.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idF" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="F">
                                                        <img src="~/img/F.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idG" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="G">
                                                        <img src="~/img/G.png"
                                                             width="55" height="40">
                                                    </div>
                                                    <div class="key letter" id="idH" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="H">
                                                        <img src="~/img/H.png"
                                                             width="55" height="40">
                                                    </div>
                                                    <div class="key letter" id="idI" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="I">
                                                        <img src="~/img/I.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idJ" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="J">
                                                        <img src="~/img/J.png"
                                                             width="40" height="40">
                                                    </div>



                                                    <div class="key letter" id="idK" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="K">
                                                        <img src="~/img/K.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idL" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="L">
                                                        <img src="~/img/L.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idM" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="M">
                                                        <img src="~/img/M.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idN" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="N">
                                                        <img src="~/img/N.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idO" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="O">
                                                        <img src="~/img/O.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idP" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="P">
                                                        <img src="~/img/P.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idQ" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Q">
                                                        <img src="~/img/Q.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idR" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="R">
                                                        <img src="~/img/R.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idS" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="S">
                                                        <img src="~/img/S.png"
                                                             width="40" height="40">
                                                    </div>


                                                    <div class="key letter" id="idT" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="T">
                                                        <img src="~/img/T.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idU" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="U">
                                                        <img src="~/img/U.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idV" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="V">
                                                        <img src="~/img/V.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idW" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="W">
                                                        <img src="~/img/W.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idX" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="X">
                                                        <img src="~/img/X.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idY" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Y">
                                                        <img src="~/img/Y.png"
                                                             width="40" height="40">
                                                    </div>
                                                    <div class="key letter" id="idZ">
                                                        <img src="~/img/Z.png"
                                                             width="40" height="40" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Z">
                                                    </div>
                                                    <div class="keyenter enter" id="idBackspace">
                                                        BACKSPACE
                                                    </div>
                                                    <div class="keyenter enter" id="idClear">
                                                        CLEAR
                                                    </div>
                                                    <div class="keyspacebar space" id="idSpace">
                                                        SPACE
                                                    </div>


                                                </div><!-- end arrows -->
                                            </div><!-- end sec-func -->
                                            <form id="my_form" class="form-inline my-2 my-lg-0 p-3" asp-action="Face" method="post" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel" data-ajax-mode='replace' data-ajax-url="@Url.Action("SavePreferredName","Home")">

                                                <div class="h6" id="divplayback" style="text-align:left;">

                                                    <input style="margin-left: 10px; font-size: x-large:" readOnly value="" placeholder="Your Preferred Name.." class="form-control sign-background" id="idSigntxt" name="prfName">
                                                    <button class="curve-grad loc" name="btnPrfSave" type="submit">
                                                        Save
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row p-3" id="panel"></div>


                                </div>

                                <div id="idTrend" class="tabcontent">
                                    <div class="pad sizepronounce r newfontstyle h4 text-dark">
                                        Trending on HowToPronounce : <span id="idTrendspan">@Context.Session.GetString("Employeeusername")</span><hr>
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/highcharts-more.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>

                                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                                    </div>


                                </div>
                                <div id="idSupport" class="tabcontent">
                                    <div class="pad sizepronounce r newfontstyle h3 text-dark">
                                        Support .. <hr>
                                        <p class="h5">For any support please reach out to ZionTeam@wellsfargo.com</p>
                                    </div>
                                </div>
                                <div id="idHelp" class="tabcontent">
                                    <div class="pad sizepronounce r newfontstyle h3 text-dark">
                                        Help .. <hr>
                                        <p class="h5">To add your name pronounciation on your profile from your Laptop VDI.</p>
                                        <ul id="idUl" class="ulno-space" style="color: #e21919;">
                                            <li >Open Name Pronunciation portal.</li>
                                            <li>Login to your profile in Teamworks.</li>
                                            <li>Navigate to User Profile to edit your details.</li>
                                            <li>Navigate your Name pronounce helper to record your preferred name.</li>
                                            <li>Record your name with Sign Language, Voice Recording and by entering text.</li>
                                            <li>Search with AD/ENT User ID for an employee.</li>
                                            <li>Employee Profile page can show you Name Pronounce Helper to listen employee's preferred name.</li>
                                            <li>Admin can login to the portal with OKTA authentication to manage user's pronunciation.</li>

                                        </ul>
                                    </div>
                                </div>

                                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                                <script>$(document).on('change keyup', '.required', function (e) {
                                        let Disabled = true;
                                        $(".required").each(function () {
                                            let value = this.value
                                            if ((value) && (value.trim() != '')) {
                                                Disabled = false
                                            } else {
                                                Disabled = true
                                                return false
                                            }
                                        });
                                        if (Disabled) {
                                            $('.toggle-disabled').prop("disabled", true);
                                        } else {
                                            $('.toggle-disabled').prop("disabled", false);
                                        }

                                    })


                                    $("select[required]").parent("label").addClass("requiredstle");

                                    function openCity(evt, cityName) {
                                        var i, tabcontent, tablinks;
                                        tabcontent = document.getElementsByClassName("tabcontent");
                                        for (i = 0; i < tabcontent.length; i++) {
                                            tabcontent[i].style.display = "none";
                                        }
                                        tablinks = document.getElementsByClassName("tablinks");
                                        for (i = 0; i < tablinks.length; i++) {
                                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                                        }
                                        document.getElementById(cityName).style.display = "block";
                                        evt.currentTarget.className += " active";
                                    }</script>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- End your project here-->
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    @section scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    }
    <script>async function recordNamePronouciation() {
            document.getElementById("idwaverec").style.display = "flex";
            const employeeId = document.getElementById("employeeId").textContent;


           const endpoint = new URL("http://127.0.0.1:5000/recording?employeeId=" + employeeId);
          //const endpoint = new URL("http://127.0.0.1:5001/Record/Index");
            var headers = {};
            const response = await fetch(endpoint,
                {
                    method: "GET",
                    mode: 'no-cors',
                    headers: headers

                });
            document.getElementById("idwaverec").style.display = "none";

        }
        async function getNamePronouciation() {


            document.getElementById("idwaveplay").style.display = "flex";
            const username = document.getElementById("idName").innerHTML;
            const employeeId = document.getElementById("employeeId").textContent;
            let endpoint = "";

            endpoint = new URL("http://127.0.0.1:5000/users?employeeId=" + employeeId);
            getData(endpoint)
                .then(data => {
                    console.log(data);
                    document.getElementById('speechToText').innerHTML = data;
                    document.getElementById("idwaveplay").style.display = "none";
                    document.getElementById("idphntc").style.display = "block";

                });


        }
        $("btnRecNM").click(function () {
            document.getElementById("idwaverec").style.display = "flex";
        });
        document.getElementById("idTrendspan").innerHTML = document.getElementById("idName").innerHTML;
        document.getElementById("idA").addEventListener("click", writeNameIntoTex.bind(event, "A"), false);
        document.getElementById("idB").addEventListener("click", writeNameIntoTex.bind(event, "B"), false);
        document.getElementById("idC").addEventListener("click", writeNameIntoTex.bind(event, "C"), false);
        document.getElementById("idD").addEventListener("click", writeNameIntoTex.bind(event, "D"), false);
        document.getElementById("idE").addEventListener("click", writeNameIntoTex.bind(event, "E"), false);
        document.getElementById("idF").addEventListener("click", writeNameIntoTex.bind(event, "F"), false);
        document.getElementById("idG").addEventListener("click", writeNameIntoTex.bind(event, "G"), false);
        document.getElementById("idH").addEventListener("click", writeNameIntoTex.bind(event, "H"), false);
        document.getElementById("idI").addEventListener("click", writeNameIntoTex.bind(event, "I"), false);
        document.getElementById("idJ").addEventListener("click", writeNameIntoTex.bind(event, "J"), false);
        document.getElementById("idK").addEventListener("click", writeNameIntoTex.bind(event, "K"), false);
        document.getElementById("idL").addEventListener("click", writeNameIntoTex.bind(event, "L"), false);
        document.getElementById("idM").addEventListener("click", writeNameIntoTex.bind(event, "M"), false);
        document.getElementById("idN").addEventListener("click", writeNameIntoTex.bind(event, "N"), false);
        document.getElementById("idO").addEventListener("click", writeNameIntoTex.bind(event, "O"), false);
        document.getElementById("idP").addEventListener("click", writeNameIntoTex.bind(event, "P"), false);
        document.getElementById("idQ").addEventListener("click", writeNameIntoTex.bind(event, "Q"), false);
        document.getElementById("idR").addEventListener("click", writeNameIntoTex.bind(event, "R"), false);
        document.getElementById("idS").addEventListener("click", writeNameIntoTex.bind(event, "S"), false);
        document.getElementById("idT").addEventListener("click", writeNameIntoTex.bind(event, "T"), false);
        document.getElementById("idU").addEventListener("click", writeNameIntoTex.bind(event, "U"), false);
        document.getElementById("idV").addEventListener("click", writeNameIntoTex.bind(event, "V"), false);
        document.getElementById("idW").addEventListener("click", writeNameIntoTex.bind(event, "W"), false);
        document.getElementById("idX").addEventListener("click", writeNameIntoTex.bind(event, "X"), false);
        document.getElementById("idY").addEventListener("click", writeNameIntoTex.bind(event, "Y"), false);
        document.getElementById("idZ").addEventListener("click", writeNameIntoTex.bind(event, "Z"), false);
        document.getElementById("idSpace").addEventListener("click", writeNameIntoTex.bind(event, " "), false);

        document.getElementById("idBackspace").addEventListener("click", deleteNameIntoTex);
        document.getElementById("idClear").addEventListener("click", clearNameIntoTex);


        function writeNameIntoTex(str = '') {
            let val = document.getElementById("idSigntxt").value;
            if (val != null && val != '') {

                document.getElementById("idSigntxt").value = val + str;
            } else {

                document.getElementById("idSigntxt").value = (val + str).toUpperCase();
            }

        }
        function deleteNameIntoTex() {
            let letters = document.getElementById("idSigntxt").value;
            let strLetters = letters.split("");
            strLetters.pop();
            let text = strLetters.join("");
            document.getElementById("idSigntxt").value = text;
        }
        function clearNameIntoTex() {

            document.getElementById("idSigntxt").value = '';
        }


        async function getSignPronouciation() {


            const username = document.getElementById("idName").innerHTML;
            const employeeId = document.getElementById("employeeId").textContent;
            let endpoint = new URL("http://127.0.0.1:5000/usersSignLang?employeeId=" + employeeId);

            getData(endpoint)
                .then(data => {
                    console.log(data);
                    let myArray = new Array();
                    myArray = data.split("");
                    document.getElementById("usrspeechToText").style.fontSize = "large";
                    document.getElementById('usrspeechToText').innerHTML = data.toUpperCase(); //KeysinAudio

                    arr = myArray.filter(function (entry) { return entry.trim() != ''; });
                    play(arr);
                    function play(arr) {
                        var videoSource = new Array();
                        var videos = arr;
                        var j;
                        for (j = 0; j < videos.length; j++) {
                            videoSource[j] = "~/videos/" + videos[j].toUpperCase() + ".mp4";
                        }

                        var i = 0; // define i
                        var videoCount = videoSource.length;

                        function videoPlay(videoNum) {
                            document.getElementById('KeysinAudio').innerHTML = videos[videoNum].toUpperCase(); //KeysinAudio
                            document.getElementById("KeysinAudio").style.color = "#09edc7";
                            document.getElementById("KeysinAudio").style.fontSize = "xx-large";

                            document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
                            document.getElementById("videoPlayer").load();
                            document.getElementById("videoPlayer").play();

                        }
                        document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
                        document.getElementById('KeysinAudio').innerHTML = videos[0].toUpperCase(); //KeysinAudio
                        document.getElementById("KeysinAudio").style.color = "#09edc7";
                        document.getElementById("KeysinAudio").style.fontSize = "xx-large";
                        //document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "xx-large";

                        videoPlay(0); // play the video

                        function myHandler() {
                            i++;
                            if (i == videoCount) {

                                document.getElementById("videoPlayer").pause();
                            }
                            else {

                                videoPlay(i);
                            }
                        }
                    }

                });


        }
        async function getData(url = '') {
            var data = ''
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'text/plain'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow'
            }).then(response => {
                return response.text()
            }).then(text => {
                console.log(text)
                data = text
            });
            return data;
        }

        function toggleFields() {
            var checkbox = document.getElementById('togBtn');
            if (checkbox.checked === true) {
                document.getElementById('divlanguage').style.display = 'none';
                document.getElementById('divvoice').style.display = 'none';
                document.getElementById('slowDiv').style.display = 'none';
            }
            else {
                document.getElementById('divlanguage').style.display = 'inline-block';
                document.getElementById('divvoice').style.display = 'inline-block';
                document.getElementById('slowDiv').style.display = 'inline-block';

            }
        }</script>

</body>
</html>